<div class="center-div-xy">
    <div id="gallery-browse">
        <div class="center-div">
            <h1>MY GALLERY</h1>
        </div>
    
        <div id="gallery-preview-container">
            <% galleries.forEach(gallery => { %>
                <div class="gallery-preview">
                    <a href="/gallery/<%= gallery[0].id %>">
                        <img height="200" src="<%= gallery[1].imagePath %>" alt="">
                        <h3><%= gallery[0].name %></h3>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</div>