<h1>Admin Page</h1>
<br>
<h3>Click the link that you would like to make changes to:</h3>
<ul>
    <li><a href="/admin/gallery">Galleries</a></li>
    <li><a href="/admin/artwork">Artworks</a></li>
    <li><a href="/admin/shop">Shop</a></li>
    <li><a href="/admin/users">Users</a></li>
</ul>