<footer>
    <nav>
        <a href="https://www.instagram.com/phoebeedwardsfineart/" target="_blank"><img src="/images/icons/instagram.svg" alt="Instagram"></a>
        <a href="https://www.youtube.com/channel/UCsi5hlGlulBOGMyRbXq1lng" target="_blank"><img src="/images/icons/youtube.svg" alt="Youtube"></a>
        <a href="https://www.linkedin.com/in/phoebe-edwards-9a710a212/" target="_blank"><img src="/images/icons/linkedin.svg" alt="Linkedin"></a>
    </nav>
</footer>