<header>
    <nav>
        <ul style="margin-left: 1rem;">
            <li><a href="/">Home</a></li>
            <li><a href="/biography">Biography</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <ul style="margin-right: 1rem;">
            <% if ( adminUser ) { %>
                <li><a href="/admin">Admin</a></li>
            <% } %>
            <% if ( user || adminUser ) { %>
                <li><a href="/user/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/user/login">Log In</a></li>
            <% } %>
            <li><a href=""><img src="/images/icons/basket.svg" alt=""></a></li>
        </ul>
    </nav>
</header>