<section id="aboutme-section">
    <div class="aboutme-section-content content-div">
        <div id="aboutme-section-content-text">
            <h1>ABOUT ME</h1>

            <p>
                My name is Phoebe Edwards, and I am a contemporary artist currently studying in my final
                year BA in Fine Art at Loughborough University. My present studios are based in
                Loughborough and Shropshire.
            </p>
    
            <p>
                I specialise in using a range of media ranging from oil painting, drawing, sculpture, and print
                making. My subject matter consists of portraiture, equine and animal portraiture,
                landscapes, nature, and still life.
            </p>
    
            <p>
                Other areas of artistic disciplines interest me, such as,
                graphic design and communication, textiles, and photography. You can view my current
                artwork in <a class="blue-link" href="/gallery">My Gallery!</a> If I am not producing artwork, then you will find me visiting exhibitions
                for inspiration such as, <em>Tate Modern, Nottingham Contemporary, The Turner Prize,</em> amongst others.
            </p>
            <p>
                I am passionate about creating beautiful, commissioned work for clients for them to display
                in their homes to enjoy, and I take pleasure in producing art pieces for my own practice to
                use for displaying in galleries and/or to sell on my online shop as prints or the original
                pieces.
            </p>
        </div>
        <img src="images/icons/logo.svg" alt="">
    </div>
</section>