<div class="center-div">
    <h1 style="margin: 4rem 0 2rem 0">CONTACT ME</h1>
</div>

<div class="center-div">
    <form action="/contact" method="POST" id="contact-form">
        <div id="contact-form-container">
            <div id="contact-info-container">
                <div class="contact-info">
                    <label for="firstname">
                        <p>First Name</p>
                    </label>
                    <input type="text" name="firstname" required>
                </div>
            
                <div class="contact-info">
                    <label for="lastname">
                        <p>Last Name</p>
                    </label>
                    <input type="text" name="lastname" required>
                </div>
            
                <div class="contact-info">
                    <label for="email">
                        <p>Email</p>
                    </label>
                    <input type="email" name="email" id="" required>
                </div>
            
                <div class="contact-info">
                    <label for="subject">
                        <p>Subject</p>
                    </label>
                    <select name="subject" id="">
                        <option value="Commission Work">Commission Work</option>
                        <option value="General Enquiry">General Enquiry</option>
                        <option value="Question">Question</option>
                    </select>
                </div>
            </div>
        
            <div id="contact-message">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Write Your Message Here..."></textarea>
            </div>
        </div>
    
        <div class="center-div">
            <button type="submit"><p>SUBMIT</p></button>
        </div>
    </form>
</div>