<div class="center-div">
    <h1 style="margin: 4rem 0 2rem 0">CONTACT ME</h1>
</div>

<div class="center-div">
    <form action="" id="contact-form">
        <div id="contact-form-container">
            <div id="contact-info-container">
                <div class="contact-info">
                    <label for="">
                        <p>First Name</p>
                    </label>
                    <input type="text">
                </div>
            
                <div class="contact-info">
                    <label for="">
                        <p>Last Name</p>
                    </label>
                    <input type="text">
                </div>
            
                <div class="contact-info">
                    <label for="">
                        <p>Email</p>
                    </label>
                    <input type="email" name="" id="">
                </div>
            
                <div class="contact-info">
                    <label for="">
                        <p>Subject</p>
                    </label>
                    <select name="" id="">
                        <option value="">Commission Work</option>
                        <option value="">General Enquiries</option>
                        <option value="">Question</option>
                    </select>
                </div>
            </div>
        
            <div id="contact-message">
                <textarea name="" id="" cols="30" rows="10" placeholder="Write Your Message Here..."></textarea>
            </div>
        </div>
    
        <div class="center-div">
            <button type="submit"><p>SUBMIT</p></button>
        </div>
    </form>
</div>