<section class="home-section" id="home-biography">
    <h2>Welcome!</h2>

    <p>
        Explore my artworks ranging 
        from equine and pet portraits, to 
        beautiful landscapes and various 
        commission works I have produced 
        over the past few years.
    </p>

    <p>
        Learn more about the artist behind the work.
    </p>

    <button>Biography</button>
</section>

<div id="home-slogan">
    <h2><i>ONE-OF-A-KIND OIL PAINTINGS THAT MAKE YOUR SPACE EXTRA SPECIAL.</i></h2>
</div>

<section class="home-section" id="home-gallery">
    <h3>I specialise in oil paintings, drawing, digital mediums, photography, and printing. Take a look at some of my recent works in My Gallery.</h2>

        <div class="gallery-carousel-container" id="home-carousel">
            <div class="gallery-carousel-display">
                <button class="carousel-button previous-button">
                    <img src="/images/icons/previous_arrow.svg" alt="">
                </button>
                <button class="carousel-button next-button">
                    <img src="/images/icons/next_arrow.svg" alt="">
                </button>
    
                <div class="center-div">
                    <div class="gallery-carousel-slider">
                        <div class="gallery-carousel-content">
                            <% galleries.forEach(gallery => { %>
                                <a href="/gallery/<%= gallery[0].id %>">
                                    <div class="gallery-carousel-element">
                                        <img src="<%= gallery[1].imagePath %>" alt="">
                                        <h3><%= gallery[0].name %></h3>
                                    </div>
                                </a>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button>VISIT MY GALLERY</button>
</section>

<div>
    <h1>JOIN MY COLLECTOR'S CIRCLE!</h1>
    <p>For studio news and special offers.</p>
    <button>JOIN</button>
</div>

<section class="home-section" id="home-shopcontact">
    <h1>See Something You Like?</h1>
    <ul>
        <li>Prints available for A5 to A1.</li>
        <li>Optional bespoke framing.</li>
        <li>Original handmade works.</li>
        <li>Commissions.</li>
    </ul>
    <button>SHOP</button>

    <h1>Get In Touch.</h1>
    <ul>
        <li>Commission work.</li>
        <li>General enquiries.</li>
        <li>Any related questions.</li>
    </ul>
    <button>CONTACT</button>
</section>

<script defer src="/scripts/carousel.js"></script>
