<div class="center-div-xy loginSignup-container">
    <div class="loginSignup">

        <form action="/user/login" method="post">
            <h2>Login</h2>

            <div>
                <p>Email</p>
                <input type="email" name="email" required>
            </div>

            <div>
                <p>Password</p>
                <input type="password" name="password" required>
            </div>

            <button type="submit"><p>Login</p></button>

            <div class="center-div">
                Don't have an account?&nbsp;<a href="/user/signup">Sign up.</a>
            </div>
        </form>
    </div>
</div>