/* GENERAL */

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

:root {
    --theme-grey: #707070;
    --theme-lightgrey: #D1D0D0;
    --theme-lightpink: #F9D9DB;
    --theme-pink: #F2B8BE;
    --theme-darkpink: #DEABB0;
    --theme-boxshadow: 0px 3px 10px var(--theme-grey);
    /* CAROUSEL VARIABLES */

    --carousel-display-width: 100vw; 
    --carousel-slider-width: 85vw;
    --carousel-element-gap: 2.5vw;
    --carousel-element-on-display: 3;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; /* used to prevent unwanted sideways scrolling */
    height: 100%;
}

body {
    min-height: 100vh;
}

main {
    min-height: 90vh;
}

h1, h2, h3, p {
    max-width: 50ch;
    text-align: center;
    line-height: 1.6;
}

h1, h2, h3, a {
    color: black;
}

h1 {
    font-size: 2.1875rem; /* 35 px */
    font-weight: 400; /* Regular */
}

h2 {
    font-size: 1.875rem; /* 30 px */
    font-weight: 400; /* Regular */
}

h3 {
    font-size: 1.6875rem; /* 27 px */
    font-weight: 300; /* Light */
}

p {
    font-size: 1.4375rem; /* 23 px */
    font-weight: 300; /* light */
    color: var(--theme-grey);
}

a {
    font-weight: 300;
    color: black;
}

.blue-link {
    color: #1196FB;
}

.center-text { /* takes away any positioning of the text and then centers it relative to its parent div */
    left: 0 !important; 
    right: 0 !important;
    text-align: center;
}

.content-div { /* used to signal that a div is used to store different contents within */

    /* spaces out the content consistently */ 

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.center-div {
    display: flex;
    justify-content: center;
}

.center-div-xy { /* positions child div in the center on the x and y axis */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keep-within-margin { /* will be used to keep the desired divs within a certain width to give the illusion of a content margin */
    max-width: 1300px;
    width: 100vw;
    position: relative;
}

/* NAV BARS */


header nav { /* Main Navigation Bar */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul { /* the content in the nav bar specifically for header */
    position: relative;
    display: flex;
    align-items: center;
}

header nav ul:first-child {
    margin-left: 2rem;
}

header nav ul:last-child {
    margin-right: 2rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li:not(:first-child) {
    margin-left: 3rem;
}

header nav ul a {
    text-decoration: none;
    color: var(--theme-grey);
    font-size: 1.3rem;
    display: flex;
    padding: 1rem 0;
}

header img {
    height: 2rem;
    position: relative;
}

#header-basket-icon {
    position: relative
}

#header-basket-icon span {
    position: absolute;
    top: -0.78125rem;
    right: -0.78125rem;
    background-color: var(--theme-pink);
    border-radius: 100%;
    width: 1.5625rem;
    min-width: fit-content;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: black;
}

header nav a:hover {
    color: black;
}

header nav ul > * {
    height: min-content;
}

footer { /* Social Media Link Bar */
    background-color: #545454;
    height: 10vh;
    display: flex;
    align-items: center;
}

footer nav {
    display: flex;
    gap: 3.125rem; /* 50px */
    position: relative;
}

/* HOME */

.home-section {
    height: fit-content;
    min-height: 95vh;
    overflow: hidden;
}

.home-section button {
    min-width: fit-content;
    padding: 1rem 2rem;
    border-radius: 50px;
    box-shadow: 0px 3px 10px var(--theme-grey);
    border-style: none;
    cursor: pointer;
    background-color: var(--theme-pink);
}

.home-section button:hover {
    filter: brightness(1.05);
}

#home-biography {
    height: 120vh;
}

#home-biography-header {
    background-position: center;
    padding: 4rem;
    background-color: white;
    background-image: linear-gradient(
        to bottom, rgba(255, 255, 255, 0), white
    ), url("/images/backgrounds/rose.jpeg");
}

#home-biography-header img {
    height: 20vh;
    width: auto;
}

#home-biography-backgroundimage {
    height: calc(130vh - (2 * 4rem) - 20vh);
}

#home-biography-content {
    height: calc(120vh - (2 * 4rem) - 20vh);
    display: flex;
    justify-content: end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
    background-image: url("/images/backgrounds/paintingpic.png");
    background-repeat: no-repeat;
}



#home-biography-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 8rem;
    height: fit-content;
}

#home-biography-text > * {
    margin-bottom: 2rem;
}

#home-slogan {
    background: var(--theme-lightpink);
    padding: 1rem 0;
}

#home-carousel .gallery-carousel-element > img {
    border-radius: 100%;
}

#home-carousel button {
    background-color: white;
}

#collectors-circle {
    width: fit-content;
    border: 3px solid var(--theme-darkpink);
    border-radius: 50px;
    margin: 3.5rem 0 4rem 0;
    padding: 2rem 2rem 2rem 2rem;
}

#collectors-circle >*:not(:last-child) {
    margin-bottom: 2rem;
}
#collectors-circle input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid var(--theme-grey);
}

#collectors-circle button {
    background-color: var(--theme-pink);
    padding: 1rem;
    border-radius: 50px;
    border-style: none;
    min-width: 10rem;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

#collectors-circle button:hover {
    filter: brightness(1.05);
    cursor: pointer;
}

#collectors-circle button h3 {
    color: white;
}

#home-shopcontact {
    background-color: var(--theme-lightpink);
    min-height: fit-content;
}

#home-shopcontact-container {
    display: flex;
    gap: 4rem;
    margin: 4rem 0;
}

#home-shopcontact p {
    text-align: left;
}
.home-shopcontact-card {
    background-color: white;
    border-radius: 50px;
    border: 5px solid var(--theme-pink);
    padding: 2rem;
    box-shadow: 0px 3px 10px var(--theme-grey);
    width: 40vw;
}

.home-shopcontact-card > *:not(:last-child) {
    margin-bottom: 2rem;
}

.home-shopcontact-card li {
    text-indent: 0.5rem;
}
.home-shopcontact-card li:not(:last-child) {
    margin-bottom: 1rem;
}

/* BIOGRAPHY */

#aboutme-section {
    display: flex;
    align-items: center;
    background-image: url('images/backgrounds/paintingpic5.jpeg');
    background-size: cover;
    width: 100vw;
}

#aboutme-section p {
    text-align: left;
}

.aboutme-section-content {
    height: fit-content;
    min-width: fit-content;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.75); /* 0.8 opacity on the background */
    padding: 4rem;
    margin: 3rem;
}

.aboutme-section-content p {
    margin-top: 2rem;
}

.aboutme-section-content img {
    margin-top: 1rem;
    align-self: flex-end;
    width: 60%;
}

/* GALLERY HUB */

#gallery-browse h1 {
    margin: 3rem;
}
#gallery-preview-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5vw;
    margin: 5vw;
}

#gallery-preview-container a {
    text-decoration: none;
    color: black;
    width: 100%;
}
.gallery-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: fit-content;
}

.gallery-preview img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

.gallery-preview:hover {
    transform: scale(1.075);
}

/* GALLERY CAROUSELS */

.individual-gallery {
    position: relative;
    background-image: url('/images/backgrounds/gallery_background.jpeg');
    background-size: cover;
    background-position: top;
    min-height: fit-content;
    height: 100vh;
}

.gallery-carousel-display {
    position: relative;
    width: var(--carousel-display-width);
}   

.gallery-carousel-slider {
    width: var(--carousel-slider-width);
}

.gallery-carousel-content { /* the container for all the elements in the carousel, will be moved based on arrow pressed */
    display: flex;
    width: fit-content;
    gap: var(--carousel-element-gap); /* to display 3 images perfectly, the gap is the container width - (3 * element width) / 2 */
    transition: transform 300ms ease-in-out;
    /* adding the webkit properties below to all moving parts on the carousel removed this jitter effect on safari */
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.gallery-carousel-content a {
    text-decoration: none;
}

.gallery-carousel-element {
    width: fit-content;
    box-sizing: border-box; /* so that it factors in the border around the images into the width of the element */
    /* transition: all 0.5s ease-in-out; make elements inactive over the period of time the carousel moves, looks smoother */
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: transform 400ms ease-in-out;
}

.gallery-carousel-element:hover {
    transform: scale(1.05);
}

.gallery-carousel-element img {
    box-shadow: 0px 3px 10px var(--theme-grey);
    width: calc((var(--carousel-slider-width) - (2 * var(--carousel-element-gap))) / var(--carousel-element-on-display));
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.25rem;
    border: 3px solid var(--theme-lightpink);
    border-style: none;
    box-sizing: content-box;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.carousel-button {
    position: absolute;
    width: calc((100vw - var(--carousel-slider-width) - (2 * var(--carousel-element-gap))) / 2);
    height: 100%;
    border-style: none;
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: 1;
    display: none;
}

.carousel-button:hover {
    background: rgba(255, 255, 255, 0.7);
}

.previous-button {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.next-button {
    right: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

/* SHOP */


.shop-item-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85vw;
    justify-content: center;
    gap: 5vw;
    padding-bottom: 4rem;
}
.shop-item {
    width: 25vw;
    border: 1px solid var(--theme-grey);
    border-radius: 1.6875rem;
    padding: 2rem;
    box-shadow: 0px 3px 10px var(--theme-grey);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item a {
    text-decoration: none;
}
.shop-item img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    border-radius: 1.125rem;
}

.shop-item-focus {
    background-image: linear-gradient(to bottom, white , var(--theme-lightpink) );
    position: relative;
}

.shop-item-focus-card {
    background-color: white;
    max-width: 90vw;
    width: fit-content;
    border: 5px solid var(--theme-pink);
    border-radius: 62px;
    box-shadow: 0px 3px 10px var(--theme-grey);
    margin: 4rem 0 4rem 0;
    display: flex;
    gap: 4rem;
    padding: 4rem;

}

#shop-item-focus-image img {
    border-radius: 18px;
    max-width: 100%;
    min-width: 40vw;
}

#shop-item-focus-info {
    min-width: 30vw;
}

#shop-item-focus-info > * {
    margin-bottom: 2rem;
}

#addBasketButton {
    background-color: var(--theme-pink);
    border-style: none;
    padding: 1rem;
    border-radius: 40px;
    width: 100%;
}

#addBasketButton:hover {
    background-color: var(--theme-lightpink);
    cursor: pointer;
}
.printSelect {
    display: flex;
}
.printSelect button {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0;
    border: 1px solid var(--theme-grey);
    cursor: pointer;
    background-color: white;
}

.printSelect button.selected-print {
    border-color: black;
    outline: 2px solid black;
}

.printSelect button.selected-print p {
    color: black;
}

.framingSelect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    border: solid 1px var(--theme-grey);
}

.framingOptionButton {
    padding: 1rem;
    cursor: pointer;
    background: transparent;
    border: none;
}

.framingOptionButton img {
    border-radius: 100%;
    height: 4.0625rem;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--theme-grey);
    object-fit: cover;
}

.selected-framing {
    outline: 2px solid black;
}

#priceDisplay {
    display: inline;
    font-weight: 400;
    color: black;
}

.toast {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    display: none;
}

.toast img {
    height: 3rem;
    aspect-ratio: 1 / 1;
}

.toast-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.toast-content p {
    color: black;
}

.toast-content div {
    display: flex;
    gap: 1rem;
}
.toast-content button {
    border-style: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50px;
    font-size: 1rem;
}

.toast-content button:hover {
    filter: brightness(1.1);
}

.toast-continue-button {
    color: white;
    background-color: var(--theme-grey);
}

.toast-basket-button {
    background-color: var(--theme-pink);
}
/* CONTACT */

#contact-form input, textarea, select {
    border-radius: 40px;
    padding: 1rem;
    border-style: none;
    font-size: 1.1rem;
    width: 20vw;
}

#contact-form button {
    padding: 1rem 2rem;
    background-color: var(--theme-lightpink);
    border-style: none;
    border-radius: 50px;
    margin: 2rem 0 4rem 0;
    cursor: pointer;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

#contact-form button:hover {
    filter: brightness(1.05);
}


#contact-form-container {
    display: flex;
    background-color: var(--theme-lightgrey);
    width: fit-content;
    padding: 4rem;
    border-radius: 50px;
    gap: 4rem;
    box-shadow: 0px 0px 10px var(--theme-grey);
}

.contact-info:not(:last-child) {
    margin-bottom: 2rem;
}
#contact-message textarea {
    height: 100%;
    width: 40vw;
    resize: none;
}
/* LOGIN/SIGNUP */

.loginSignup-container {
    height: fit-content;
    min-height: 80vh;
}

.loginSignup {
    border: 1px solid var(--theme-grey);
    box-shadow: var(--theme-boxshadow);
    background-color: var(--theme-lightgrey);
    padding: 2rem 4rem 0 4rem;
    margin: 4rem;
}

.loginSignup form > * {
    margin-bottom: 2rem;
}

.loginSignup input {
    width: 20rem;
    max-width: 100%;
    height: 3rem;
    border-radius: 50px;
    border-style: none;
    padding: 2rem;
    font-size: 1.1rem;
    background-color: white;
}

.loginSignup input:focus {
    outline: 1px solid black;
    font-size: 1.1rem;
}
.loginSignup button {
    padding: 0.5rem;
    border-style: none;
    border-radius: 5px;
    background-color: var(--theme-pink);
    width: 100%;
    cursor: pointer;
}

.loginSignup button:hover {
    filter: brightness(1.1);
    outline: 1px solid var(--theme-grey);
}

.loginSignup div {
    margin-top: 2rem;
}

/* BASKET */

#basket-background {
    background-image: linear-gradient(to bottom, white , var(--theme-lightpink) );
}

#basket-background h1 {
    margin: 4rem;
}

#empty-basket {
    padding: 2rem;
}

#empty-basket button {
    cursor: pointer;
    border-style: none;
    background-color: var(--theme-pink);
    padding: 1rem 2rem;
    border-radius: 50px;
    margin: 3rem 0 0 0;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

#empty-basket button:hover {
    filter: brightness(1.1);
}

#basket-item-card-container {
    background-color: white;
    width: fit-content;
    border: 3px solid var(--theme-pink);
    border-radius: 64px;
    padding: 3rem;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

#basket-item-card-container h3 {
    font-weight: 400;
}

#basket-item-card-container p {
    color: black;
}

.basket-item-card {
    border: 1px solid var(--theme-lightgrey);
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.basket-item-card img {
    border-radius: 18px;
    max-width: 50%;
    object-fit: cover;
    height: 22.5rem;
}
.basket-item-info {
    display: flex;
    justify-content: space-around;
}

.basket-item-choiceinfo h3 {
    margin-bottom: 2rem;
}

.basket-item-choiceinfo div > *:not(:last-child) {
    margin-bottom: 1rem;
}

.basket-item-orderinfo {
    display: flex;
    gap: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
}

.basket-item-quantity p {
    display: inline;
    margin: 0 1rem;
}

.basket-item-quantity button {
    height: fit-content;
    width: fit-content;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

#checkoutButton {
    cursor: pointer;
    border-style: none;
    background-color: var(--theme-pink);
    padding: 1rem 2rem;
    border-radius: 50px;
    margin: 3rem;
    box-shadow: 0px 3px 10px var(--theme-grey);
}

#checkoutButton a {
    text-decoration: none;
}

#checkoutButton:hover {
    filter: brightness(1.1);
}

.processing {
    filter: brightness(1.1);
}