<h1>Create New User</h1>
<br>
<form action="/admin/users" method="post">
    <label>Email</label>
    <input type="email" name="email">
    <br>

    <label>First Name</label>
    <input type="text" name="firstname">
    <br>

    <label>Last Name</label>
    <input type="text" name="lastname">
    <br>

    <label>Password</label>
    <input type="password" name="password">
    <br>
    
    <label>Role</label>
    <input type="text" name="role">
    <br>


    <a href="/admin/users">Cancel</a>   
    <button type="submit">Create</button>
</form>